<hr />
<footer class="page-footer font-small colormatch">
  <small>
    <strong><a  href="https://pet-care-utility.herokuapp.com/">Other Rails App</a></strong>
    by <em><a   href="http://www.mattperreault.tech/">Matt Perreault</a></em>
  </small>
  <div class="col-md-2 float-right">
    <nav>
      <ul>
        <li class="colormatch"><%= link_to "About",   '#' %></li>
      </ul>
    </nav>
  </div>
</footer>